/.idea/codeStyles/codeStyleConfig.xml
/.idea/modules.xml
/.idea/MoviePass.iml
/.idea/vcs.xml
/.idea/workspace.xml
Config/Config.php
Config/Api.php
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/b5f16bb3-a188-4eb3-a137-96466d87ab27.xml
.idea/dataSources/b5f16bb3-a188-4eb3-a137-96466d87ab27/storage_v2/_src_/schema/moviepass.QYvVRg.meta
.idea/sqldialects.xml
.vscode/settings.json
*.xml
*.patch

